/Java Programming I/Part 1/part01-Part01_02.AdaLovelace/target/
/Java Programming I/Part 1/part01-Part01_03.OnceUponATime/target/
/Java Programming I/Part 1/part01-Part01_05.Message/target/
/Java Programming I/Part 1/part01-Part01_06.HiAdaLovelace/target/
/Java Programming I/Part 1/part01-Part01_07.MessageThreeTimes/target/
/Java Programming I/Part 1/part01-Part01_08.Greeting/target/
/Java Programming I/Part 1/part01-Part01_09.Conversation/target/
/Java Programming I/Part 1/part01-Part01_10.Story/target/
/Java Programming I/Part 1/part01-Part01_11.VariousVariables/target/
/Java Programming I/Part 1/part01-Part01_12.IntegerInput/target/
/Java Programming I/Part 1/part01-Part01_13.DoubleInput/target/
/Java Programming I/Part 1/part01-Part01_14.BooleanInput/target/
/Java Programming I/Part 1/part01-Part01_15.DifferentTypesOfInput/target/
/Java Programming I/Part 1/part01-Part01_16.SecondsInADay/target/
/Java Programming I/Part 1/part01-Part01_17.SumOfTwoNumbers/target/
/Java Programming I/Part 1/part01-Part01_18.SumOfThreeNumbers/target/
/Java Programming I/Part 1/part01-Part01_19.AdditionFormula/target/
/Java Programming I/Part 1/part01-Part01_20.MultiplicationFormula/target/
/Java Programming I/Part 1/part01-Part01_21.AverageOfTwoNumbers/target/
/Java Programming I/Part 1/part01-Part01_22.AverageOfThreeNumbers/target/
/Java Programming I/Part 1/part01-Part01_23.SimpleCalculator/target/
/Java Programming I/Part 1/part01-Part01_24.SpeedingTicket/target/
/Java Programming I/Part 1/part01-Part01_25.CheckYourIndentation/target/
/Java Programming I/Part 1/part01-Part01_26.Orwell/target/
/Java Programming I/Part 1/part01-Part01_27.Ancient/target/
/Java Programming I/Part 1/part01-Part01_28.Positivity/target/
/Java Programming I/Part 1/part01-Part01_29.Adulthood/target/
/Java Programming I/Part 1/part01-Part01_30.LargerThanOrEqualTo/target/
/Java Programming I/Part 1/part01-Part01_31.GradesAndPoints/target/
/Java Programming I/Part 1/part01-Part01_32.OddOrEven/target/
/Java Programming I/Part 1/part01-Part01_33.Password/target/
/Java Programming I/Part 1/part01-Part01_34.Same/target/
/Java Programming I/Part 1/part01-Part01_35.CheckingTheAge/target/
/Java Programming I/Part 1/part01-Part01_36.LeapYear/target/
/Java Programming I/Part 1/part01-Part01_37.GiftTax/target/
/part02-Part02_12.AverageOfNumbers/target/
/part02-Part02_13.AverageOfPositiveNumbers/target/
/Java Programming I/Part 2/part02-Part02_13.AverageOfPositiveNumbers/target/
/part02-Part02_14.Counting/target/
/Java Programming I/Part 2/part02-Part02_14.Counting/target/
/part02-Part02_15.CountingToHundred/target/
/part02-Part02_16.FromWhereToWhere/target/
/part02-Part02_17.SumOfASequence/target/
/part02-Part02_18.SumOfASequenceTheSequel/target/
/part02-Part02_19.Factorial/target/
/Java Programming I/Part 2/part02-Part02_18.SumOfASequenceTheSequel/target/
/part02-Part02_20.RepeatingBreakingAndRemembering/target/
/part02-Part02_21.InAHoleInTheGround/target/
/part02-Part02_22.Reprint/target/
/Java Programming I/Part 2/part02-Part02_21.InAHoleInTheGround/target/
/Java Programming I/Part 2/part02-Part02_22.Reprint/target/
/part02-Part02_23.FromOneToParameter/target/